/*et menüü oleks servast servani*/
body {
    margin: 0;
}

/*menüü häälestused*/
#menu {
	background: #4CAF50;
	position: fixed;
    top: 0;
    width: 100%;
	text-align: center;
}

.menuItemActive, .menuItemInactive, .menuItemInactive a, .menuItemActive a, .menuItemActive a:hover, .menuItemInactive a:hover   {
	display: inline-block;
	text-align : center;		
	text-decoration: none;
}

.menuItemInactive a, .menuItemActive a, .menuItemActive a:hover, .menuItemInactive a:hover   {
	padding:5px 15px;
}

.menuItemInactive a {	
	color:white;
}

.menuItemActive a {	
	color : orange;
	background-color: white;	
}

.menuItemActive a:hover, .menuItemInactive a:hover {
	background: orange;
	color: white;
}

/*et menüü ei katakse lehe sisu, tuleb sisu nihutada allapoole, ning ilusma resultaadi jaoks jätta vahed servadest*/
.main-body {
	margin-left:10%;
	margin-right:10%;
	margin-top: 30px;
	padding:1px 16px;
	height:1000px;
}

/*et pilt jääks oma suuruse poolest ekraani sisse*/
img {
    max-width: 100%;
    height: auto;
}

/*tabelite häälestus*/
table {
	padding: 10px;
	border-collapse: collapse;	
}

td {
	border : 1px solid black;
	padding: 10px;
	vertical-align: top;
}

th {
	border: 2px solid black;
}

.superclass {
	text-align: left;
}

.childclass {
	padding-left: 30px;
}

.porter {
	width: 50%
}

.nime_veerg {
	width: 35%;
}

.aja_veerg {
	width: 10%;
}

/*paragrahvide ja pealkirjade häälestused*/
p, h1, h2, h3, h4, table, li, .menuItemActive, .menuItemInactive{
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	color: #006600;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

h4 {
	font-size: 1em;
}

/*et veateated oleksid punast värvi*/
.viga {
	color: red;
}

#sinine {
	background-color: #134bbd;
}

#roheline {
	background-color: #4CAF50;
}

#must {
	background-color: #000;
}

#lilla {
	background-color: purple;
}

.varviteemavalik{
	display : inline-block;
	height: 50px;
	width: 50px;
}
