body {
    margin: 0;
}

#menu {
	background: #4CAF50;
	position: fixed;
    top: 0;
    width: 100%;
	text-align: center;
}

.menuItemActive, .menuItemInactive {
	display: inline-block;
}

.menuItemInactive a {
	display: inline-block;
	text-align : center;
	
	padding:5px 15px;
	color:white;
	text-decoration: none;
}

.menuItemActive a, .menuItemActive.active a, .menuItemInactive a:active {
	display: inline-block;
	text-align : center;
	
	padding:5px 15px;
	color: #4CAF50;
	background-color: white;
	text-decoration: none;
}

.menuItemActive a:hover, .menuItemInactive a:hover {
	background: #dec;
	color: green;
	padding:5px 15px;
	text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-body {
	margin-left:10%;
	margin-right:10%;
	margin-top: 30px;
	padding:1px 16px;
	height:1000px;
}


table {
	padding: 10px;
	border-collapse: collapse;	
}


td {
	border : 1px solid black;
	padding: 10px;
	vertical-align: top;
}

th {
	border: 2px solid black;
}

.superclass {
	text-align: left;
}

.childclass {
	padding-left: 30px;
}

.porter {
	width: 50%
}


p, h1, h2, h3, h4, table, li, .menuItemActive, .menuItemInactive{
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-size: 1.3em;
	color: #006600;
}

h3 {
	font-size: 1.1em;
	color: #006600;
}

h4 {
	font-size: 1em;
	color: #006600;
}

.viga {
	color: red;
}

.nime_veerg {
	width: 35%;
}

.aja_veerg {
	width: 10%;
}